body {
  font-family: $font-main;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header, main, section, footer {
  display: block;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-headings;
}

// Selection
// ***********************************************************

::-moz-selection,
::-webkit-selection,
::selection {
	background-color: $selection-bg;
	color: $selection-color;
	text-shadow: none;
}

img {
  &::-moz-selection,
  &::-webkit-selection,
  &::selection {
    background-color: transparent;
  }
}
