*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

a:not([class]):visited {
  color: inherit;
}

a:active,
a:hover {
	outline: 0;
}

img, picture, audio, embed, object, input, iframe {
  max-width: 100%;
}

img, picture {
  display: inline-block;
}

img, svg {
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

textarea {
  resize: none;
}
