/* General layout */

#page-wrap {
  width: 100%;
  min-height: 100%;
  @include clearfix();
}

.o-container {
  width: maxw("main");
  margin: 0 auto;
  @include clearfix();
  @include mq-min(bk("large")) {
    width: maxw("large");
  }
  @include mq-max(bk("desk")) {
    width: 95%;
  }
}

.o-container-fluid {
  width: 100%;
  position: relative;
  @include clearfix();
}

