// Custom components:

.wideo-box {
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  position: relative;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  padding: 15px;
}

.wideo-code {
  border: 1px solid #E5E5E5;
  padding: 0 5px;
}