// Colors
$black        :  #000000;
$white        :  #ffffff;

// Fonts
$font-main: sans-serif;
$font-headings: serif;

// Selection
$selection-bg: $black;
$selection-color: $white;

// Breakpoints
$breakpoints: (
  tab-down: 767px,
  tab: 768px,
  desk-down: 1023px,
  desk: 1024px
) !default;