body[data-aos-easing=ease-in-out-sine] [data-aos] {
  transition-timing-function: cubic-bezier(.445,.05,.55,.95);
  transition-duration: .4s;
}

[data-aos="anim-title"] {
  transform: translateY(20px);
  opacity: 0;
  transition-property: transform, opacity;
  &.aos-animate {
    transform: translateY(0);
    opacity: 1;
  }
}


[data-aos="anim-subtitle"] {
  transform: translateY(20px);
  opacity: 0;
  transition-property: transform, opacity;
  transition-delay: 100ms;
  &.aos-animate {
    transform: translateY(0);
    opacity: 1;
  }
}
[data-aos="anim-text"] {
  transform: translateY(20px);
  opacity: 0;
  transition-property: transform, opacity;
  transition-delay: 150ms;
  &.aos-animate {
    transform: translateY(0);
    opacity: 1;
  }
}
[data-aos="anim-cta"] {
  transform: translateY(20px);
  opacity: 0;
  transition-property: transform, opacity;
  transition-delay: 200ms;
  &.aos-animate {
    transform: translateY(0);
    opacity: 1;
  }
}
[data-aos="anim-image"] {
  transform: translateX(20px);
  opacity: 0;
  transition-property: transform, opacity;
  animation-delay: 500ms;
  &.aos-animate {
    transform: translateX(0);
    opacity: 1;
  }
}
[data-aos="anim-image-double"] {
  transform: translateX(-50px);
  opacity: 0;
  transition-property: transform, opacity;
  animation-delay: 500ms;
  &.aos-animate {
    transform: translateX(0);
    opacity: 1;
  }
  &:nth-child(2) {
    transform: translateX(50px);
    &.aos-animate {
      transform: translateX(0);
    }
  }
}


[data-aos="anim-list"] {
 
  opacity: 0;
  transform: translateY(50px);

  transition-property: transform, opacity;
  &.aos-animate {
    transform: translateY(0);

    opacity: 1;
  }

}

@for $i from 1 to 30 {
  [data-aos="anim-list"]:nth-child(#{$i}) { transition-delay: $i * 100ms; }
}


[data-aos="anim-icon"] {
 
  opacity: 0;
  transition-property: opacity;
  &.aos-animate {
    opacity: 1;
  }

}

@for $i from 1 to 30 {
  [data-aos="anim-icon"]:nth-child(#{$i}) { transition-delay: $i * 100ms; }
}