// Breakpoints
// //////////////////////////////////////////

$breakpoint_xs: 580px;
$breakpoint_sm: 768px;
$breakpoint_md: 1024px;
$breakpoint_lg: 1280px;

// Colors
// //////////////////////////////////////////

$color_white: #ffffff;
$color_black: #000000;

// Sizes
// //////////////////////////////////////////

$size_header_height: 50px;

// Other
// //////////////////////////////////////////

// ...