@mixin visual-hide() {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
  visibility: hidden;
  overflow: hidden;
}

@mixin bg($pos1: center, $pos2: center, $size: cover, $rep: no-repeat) {
  background-position: $pos1 $pos2;
  background-size: $size;
  background-repeat: $rep
}

$pseudo-prefix: "::-webkit-input-placeholder" "::-moz-placeholder" ":-ms-input-placeholder" "::placeholder";
@mixin placeholder {
  @each $pseudo in $pseudo-prefix {
    @at-root #{&}#{$pseudo} {
      @content
    }
  }
}

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}